{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<!--Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">This is a dummy shop!</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates
                odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus
                consectetur?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates
                odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus
                consectetur?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates
                odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus
                consectetur?</p>
        </div>
    </div>
</section>
{% endblock %}