{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Checkout canceled{% endblock %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkout canceled</h1>
            <p class="lead fw-normal text-white-50 mb-0">Miss your order?</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="row-cols-auto mt-5 mb-5 justify-content-center">
            <p class="text-center pb-5 pt-5">
                Forgot to add something to your cart? Shop around then come back to pay!
            </p>
        </div>
    </div>
</div>

{% endblock %}